#logo {
    margin-top: 80px;
}

#loginEmail, #loginPassword {
    margin-top: 10px;
    width: 340px;
}

#btnLogin {
    width: 340px;
}

#rememberMe {
    font-size: 15px;
}

.rememberMe .item-inner {
    border-bottom: none !important;
}

.checkbox-icon {
    border-radius: 0%!important
}
